body {
    font-family: comic-sans, Calibri, Arial;
}

.SIEM {
    background-color: #104766;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.SIEM h2 {
    margin: 0;
    padding: 20px;
}

.siem-heading {
    color: #104766;
    text-align: center;
}
.siem-heading {
    margin: 0;
}


/* Reset some default styles */
body, ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}
.content {
    padding-bottom: 10px;
    color: #104766;/* Adjust this value to match the footer's height */
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

/* Style the header (navigation bar) */
header {
background-color: #a6a6a6;
color: #fff;
padding: 10px 0;
}

.navbar-logo {
    float: left;
    padding: 10px;
}

.navbar-logo img {
    width: 50px; /* width of the logo */
    height: auto; /* aspect ratio */
}

nav ul {
text-align: right;
}

nav li {
display: inline;
margin: 0 20px;
}

nav a {
text-decoration: none;
color: #000;
}

/* Style the navigation links as buttons */
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a6a6a6; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: #104766; /* Button background color on hover */
    color: #fff;
}

/* Add a class to style the active link */
nav a.active {
    background-color: #104766;
}

.team-section {
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
}

.team-member {
text-align: center;
margin: 20px;
}

.team-member img {
max-width: 200px;
border-radius: 50%;
}

.team-member h2 {
font-size: 1.5em;
margin: 10px 0;
}

.team-member p {
font-size: 1.2em;
color: #777;
}

/* footer */
footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: #a6a6a6;
color: #fff;
text-align: center;
padding: 10px 0;
}

/* for additional styling */
main {
padding: 20px;
}

#event-logs-table {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}
#event-logs-table th {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Change according to your design */
    z-index: 1;
}