body {
  background-color: #003f5c;
  font-family: comic-sans, Calibri, Arial;
  margin: 0;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

#bad_security {
  width: 120px;
  margin-bottom: 20px;  
}

.login-title {
  color: #fff; 
  margin-bottom: 0.1px;  
  font-size: 28px;
  font-weight: normal;  
  text-align: center; 
}

.login-subtitle {
  color: #fff; 
  margin-bottom: 50px;  
  font-size: 22px;
  font-weight: normal;  
  text-align: center; 
}

.form-signin {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin label {
  margin-right: 15px;  
}

.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 15px;
  width: 70%;
  padding: 8px;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  margin-left: 5px;
  width: 70%;
  padding: 8px;
}

button.btn {
  font-size: 16px;
  background-color: #003f5c;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  border: 1px solid #003f5c;
}

/* Flash message and Alert classes */
.flash-message {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 300px;
}

.alert {
  padding: 10px;
  margin-bottom: 100px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-info {
  background-color: #cce5ff;
  color: #004085;
  border-color: #b8daff;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}
