body {
    font-family: comic-sans, Calibri, Arial;
}

.SIEM {
    background-color: #104766;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.SIEM h2 {
    margin: 0;
    padding: 20px;
}

.siem-heading {
    color: #104766;
    text-align: center;
}
.siem-heading {
    margin: 0;
}


/* Reset some default styles */
body, ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}

#dashboard_body {
    background-color: #fafbfd;
}

.content {
    padding-bottom: 10px;
    color: #104766;/* Adjust this value to match the footer's height */
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

/* Style the header (navigation bar) */
header {
background-color: #a6a6a6;
color: #fff;
padding: 10px 0;
}

.navbar-logo {
    float: left;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    width: 50px; /* width of the logo */
    height: auto; /* aspect ratio */
}

nav ul {
text-align: right;
}

nav li {
display: inline;
margin: 0 20px;
}

nav a {
text-decoration: none;
color: #000;
}

/* Style the navigation links as buttons */
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a6a6a6; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: #104766; /* Button background color on hover */
    color: #fff;
}

/* Add a class to style the active link */
nav a.active {
    background-color: #104766;
}

.team-section {
display: flex;
justify-content: space-around;
align-items: center;
padding: 30px;
}

.team-member {
text-align: center;
margin: 20px;
}

.team-member img {
max-width: 200px;
border-radius: 50%;
}

.team-member h2 {
font-size: 1.5em;
margin: 10px 0;
}

.team-member p {
font-size: 1.2em;
color: #777;
}

/* footer */
footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: #a6a6a6;
color: #fff;
text-align: center;
padding: 10px 0;
}

/* for additional styling */
main {
padding: 20px;
}

.visualisations {
    padding: 15px;
    border: 1px solid #d4dae5;
    border-radius: 5px;
    background-color: #fff;
}

#viz_row_1 {
    margin: 10px;
    flex:1;
    display: flex;
    justify-content: space-between;
    clear: both;
}

#frequently_attacked_agents_bar_graph, #alerts_per_agent_area_chart {
    box-sizing: border-box;
}

#viz_row_2 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    clear: both;
}

#alert_severity_pie_chart, #distribution_alert_severity_line_graph {
    box-sizing: border-box;
}

#alert_severity_pie_chart {
    flex:3.5;
    margin-right: 5px;
}

#distribution_alert_severity_line_graph {
    flex:6.5;
    margin-left: 5px;
}

#viz_row_3 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    clear: both;
}

#top_events_donut_chart, #agent_info_table {
    box-sizing: border-box;
}

#top_events_donut_chart {
    flex:5.5;
    margin-right: 5px;
}

#agent_info_table {
    flex:4.5;
    margin-left: 5px;
}

#viz_row_4 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    clear: both;
}

#alert_choropleth, #mitre_attacks_donut_chart {
    box-sizing: border-box;
}

#alert_choropleth {
    flex:6.3;
    margin-right: 5px;
}


#mitre_attacks_donut_chart {
    flex:3.7;
    margin-left: 5px;
}

#event_logs_table {
    margin: 10px;
    clear: both;
    width: 96.4%;
    max-height: 400px;
    overflow-y: auto;
}
 
table {
    width: 92%;
    margin: 15px 20px 10px 20px;
    border-collapse: collapse;
}

table, th, td {
    border: none;  
}

th, td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

td {
    border-bottom: 1px solid #d4dae5;  /* Only keep the bottom border for table cells (td) */
}

th {
    background-color: #F8B195; 
}

#agent_info_table, #event_logs_table th {
    color: #333;
    padding: 10px;
}

#agent_info_table h2, #event_logs_table h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px; 
}


/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}