<!DOCTYPE html>

<html>
    <head>
        <title>Add User Page</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../static/styles/addUser.css">
    </head>

    <div class="SIEM" id="SIEM-test">
        <h2>Security Information and Event Management System</h2>
    </div>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="../static/images/bad_security.png" alt="Bad Security Inc Logo">
            <img src="../static/images/swinburne_logo.png" alt="Swinburne Logo">
        </div>
    
        <header>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="dashboard">Dashboard</a></li>
                    <li><a href="management">Management</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <body>
        <div id="user-form">
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>

                <label for="account-name">Account Name:</label>
                <input type="text" id="account-name" name="account-name"><br><br>

                <label for="user-name">User Name:</label>
                <input type="text" id="user-name" name="user-name"><br><br>

                <label for="password">Password:</label>
                <input type="text" id="password" name="password"><br><br>

                <button type="submit" id="addUserButton">Add User</button>
            </form>
        </div>
    </body>
</html>