<!doctype html>

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <div class="SIEM">
        <h2>Security Information and Event Management System</h2>
    </div>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="images/bad_security.png" alt="Bad Security Inc Logo">
            <img src="images/swinburne_logo.png" alt="Swinburne Logo">
        </div>
    <header>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a class="active" href="dashboard">Dashboard</a></li>
            <li><a href="management">Management</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
    </header>
    
    <body>
        <div id="table-container">
            <h2>Agent Information</h2>
            {{ agent_table|safe }}
        </div>
        <div id="pie-chart-container">
            <h2>Alerts by Severity</h2>
            {{ alert_severity|safe }}
        </div>
        <div id="bar-chart-container">
            <h2>Authentication Failures Over Time</h2>
            {{ auth_failure|safe }}
        </div>
        <div>
            <h2>Number of Alerts per Agent</h2>
            {{ plot2|safe }}
        </div>
    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Set interval to refresh plot every 10 seconds (10000 milliseconds)
        setInterval(function(){
            // Send AJAX GET request to the Flask route to get updated plot
            $.get('/dashboard_data', function(data) {
                // Replace the content of the plot container with the updated plot
                $('#plot-container').html(data.plot1);
                $('#plot2-container').html(data.plot2);
                $('#agent-table-container').html(data.agent_table); // Add this line to update the agent table.
            });
        }, 10000);
    </script>
</html>


