<!doctype html>
<title>Dashboard</title>
<div id="table-container">
    <h2>Agent Information</h2>
    {{ agent_table|safe }}
</div>
<div id="pie-chart-container">
    <h2>Alerts by Severity</h2>
    {{ alert_pie_chart|safe }}
</div>
<div id="bar-chart-container">
    <h2>Authentication Failures Over Time</h2>
    {{ auth_failure_bar_chart|safe }}
</div>
<div>
    <h2>Number of Alerts per Agent</h2>
    {{ plot2|safe }}
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Set interval to refresh plot every 10 seconds (10000 milliseconds)
    setInterval(function(){
        // Send AJAX GET request to the Flask route to get updated plot
        $.get('/dashboard_data', function(data) {
            // Replace the content of the plot container with the updated plot
            $('#plot-container').html(data.plot1);
            $('#plot2-container').html(data.plot2);
            $('#agent-table-container').html(data.agent_table); // Add this line to update the agent table.
        });
    }, 10000);
</script>
