<!doctype html>

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="SIEM">
            <h2>Security Information and Event Management System</h2>
        </div>
        <div class="navbar">
            <div class="navbar-logo">
                <img src="../static/images/bad_security.png" alt="Bad Security Inc Logo">
                <img src="../static/images/swinburne_logo.png" alt="Swinburne Logo">
            </div>
            <header>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a class="active" href="dashboard">Dashboard</a></li>
                    <li><a href="management">Management</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </nav>
            </header>
        </div>   

        <div class="visualisations" id="agent_info_table"></div>
        <div class="visualisations" id="alert_severity_pie_chart"></div>
        <div class="visualisations" id="top_events_donut_chart"></div>
        <div class="visualisations" id="mitre_attacks_donut_chart"></div>
        <div class="visualisations" id="distribution_alert_severity_line_graph"></div>
        <div class="visualisations" id="frequently_attacked_agents_bar_graph"></div>
        <div class="visualisations" id="alerts_per_agent_area_chart"></div>    
        <div class="visualisations" id="event_logs_table"></div>
        <div class="visualisations" id="alert_choropleth"></div>

        <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
    </body>
    
</html>


