<!doctype html>
<title>Home page</title>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<!--navigation bar-->
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Management</a></li>
        </ul>
    </nav>
</header>

<div>
    <h2>Welcome to Simple Security Information and Event Management System</h2>
</div>

<!-- footer-->
<footer>
    <p>&copy; 2023 Your Website Name. All rights reserved.</p>
</footer>
