<!doctype html>

<title>Home page</title>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    
        <div class="SIEM">
            <h2>Security Information and Event Management System</h2>
        </div>
        <div class="navbar">
            <div class="navbar-logo">
                <img src="../static/bad_security.png" alt="Bad Security Inc Logo">
                <img src="../static/swinburne_logo.png" alt="Swinburne Logo">
            </div>
            <header>
                <nav>  
                    <ul>
                        <li><a class="active" href="home">Home</a></li>
                        <li><a href="dashboard">Dashboard</a></li>
                        <li><a href="management">Management</a></li>
                        <li><a href="login">Login</a></li>
                    </ul>
                </nav>
            </header>
        </div>

   
    <main>
        <div class="siem-heading">
            <h1>Welcome to Team 41's Simple SIEM Project</h1>
        </div>
        <div class="content">
        <p>Your Trusted All-in-One Cyber Security Solution</p>
        <p>We, a dedicated team of six individuals, have spent countless hours developing a state-of-the-art Security Information and Event Management (SIEM) system for our esteemed clients, Bad Security Inc.</p>
        
        <h2>What is SIEM?</h2>
        <p>SIEM stands for Security Information and Event Management. It is a cybersecurity system that provides real-time monitoring and analysis of security events within an organization's IT infrastructure. It's crucial for proactively detecting and responding to security threats, ensuring data protection, and compliance with industry regulations.</p>
        <p>It protects and empowers your organization by providing real-time monitoring, threat detection, and incident response capabilities. With a focus on enhancing your security posture, our SIEM solution is here to safeguard your digital assets and intellectual property.</p>
         
        <h2>Our Solution</h2>
        <p>
            Our comprehensive security solution leverages the power of Wazuh, Kibana, ElasticSearch, and Flask, all meticulously orchestrated within Docker containers. This integrated system provides advanced threat detection, log analysis, and incident response capabilities. What sets us apart is our custom-built front-end visualization tool, crafted in Python, which empowers users with intuitive and real-time insights into their security landscape. Our holistic approach not only strengthens data protection but also streamlines compliance and enhances the overall security posture for our clients.</p>
        
    </section>
        </div>
<div class="content">
        <h2>Our Team</h2>
</div>
        <section class="team-section">
            <div class="team-member">
                <img src="../static/tommy.png" alt="Tommy">
                <h2>Tommy Zhang</h2>
                <p>Sem 1 Team Leader/Development Manager</p>
            </div>
            <div class="team-member">
                <img src="../static/faiz.JPG" alt="Faiz">
                <h2>Faiz Syed Ibrahim</h2>
                <p>Data Analyst</p>
            </div>
            <div class="team-member">
                <img src="../static/rafi.jpg" alt="Rafiullah">
                <h2>Muhammad Rafiullah Memon</h2>
                <p>DevOps Engineer</p>
            </div>
        
            <div class="team-member">
                <img src="../static/fatima.jpg" alt="Fatima">
                <h2>Fatima Hanif</h2>
                <p>Security Engineer</p>
            </div>

            <div class="team-member">
                <img src="../static/rhyanna.png" alt="Rhyanna">
                <h2>Rhyanna Arisya Zhanon</h2>
                <p>Quality Manager</p>
            </div>

            <div class="team-member">
                <img src="../static/anas.jpg" alt="Anas">
                <h2>Anas Abdulhaq</h2>
                <p>Current Team Leader/Development Manager</p>
            </div>
    </main>

    <footer>
        <p>&copy; 2023 SIEM for Bad Security Inc. All rights reserved.</p>
    </footer>
</body>

