{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" type="text/css" href="../static/styles/login.css">

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}   
    <img src="../static/images/bad_security.png" alt="Bad Security Inc Logo" id="bad_security">

    <form class="form-signin" method="POST" action="/login">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div> <!-- /container -->

