<!DOCTYPE html>

<html>
    <head>
        <title>Account Management</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <div class="SIEM" id="SIEM-test">
        <h2>Security Information and Event Management System</h2>
    </div>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="images/bad_security.png" alt="Bad Security Inc Logo">
            <img src="images/swinburne_logo.png" alt="Swinburne Logo">
        </div>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a class="active" href="management">Management</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
</html>
